<ion-header>
  <ion-navbar>
    <ion-title>Clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>   
     <form [formGroup]="myForm" (ngSubmit)="postCliente()" novalidate> 
    <ion-list>
       <!-- Imagen  -->
      <div class="logo">
        <ion-img width="300" height="350" src="../../assets/imgs/usuario.png"></ion-img>
      </div>      
 
       <!-- Nombre -->
        <ion-label>Nombre</ion-label>
        <ion-input placeholder="Escriba el nombre" formControlName="nombre"  type="text"></ion-input>
          
         <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
          <p *ngIf="myForm.get('nombre').hasError('required')">Campo Requerido</p>
        </ion-item> 
    
       <!-- Apellidos -->
        <ion-label>Apellidos</ion-label>
        <ion-input placeholder="Escriba los apellidos" formControlName="apellidos" type="text"></ion-input>
          
        <ion-item *ngIf="myForm.get('apellidos').errors && myForm.get('apellidos').dirty">
          <p *ngIf="myForm.get('apellidos').hasError('required')">Campo Requerido</p>
        </ion-item> 
    
       <!-- Edad -->
        <ion-label>Edad</ion-label>
        <ion-input placeholder="Escriba la edad" formControlName="edad" type="text"></ion-input>
          
        <ion-item *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty">
          <p *ngIf="myForm.get('edad').hasError('required')">Campo Requerido</p>
        </ion-item> 

       <!-- Dirección -->
        <ion-label>Dirección</ion-label>
        <ion-input placeholder="Escriba el direccion" type="text" formControlName="direccion" ></ion-input>

         <ion-item *ngIf="myForm.get('direccion').errors && myForm.get('direccion').dirty">
          <p *ngIf="myForm.get('direccion').hasError('required')">Campo Requerido</p>
        </ion-item>   

       <!-- dni -->
        <ion-label>Dirección</ion-label>
        <ion-input placeholder="Escriba el dni" formControlName="dni" type="text" ></ion-input>
        
         <ion-item *ngIf="myForm.get('dni').errors && myForm.get('dni').dirty">
          <p *ngIf="myForm.get('dni').hasError('required')">Campo Requerido</p>
        </ion-item> 

       <!-- Ciudad -->
        <ion-label>Ciudad</ion-label>
        <ion-input placeholder="Escriba el ciudad" formControlName="ciudad" type="text" ></ion-input>
          
         <ion-item *ngIf="myForm.get('ciudad').errors && myForm.get('ciudad').dirty">
          <p *ngIf="myForm.get('ciudad').hasError('required')">Campo Requerido</p>
        </ion-item>

       <!-- Provincia -->
        <ion-label>Provincia</ion-label>
        <ion-input placeholder="Escriba el provincia" formControlName="provincia" type="text" ></ion-input>
          
         <ion-item *ngIf="myForm.get('provincia').errors && myForm.get('provincia').dirty">
          <p *ngIf="myForm.get('provincia').hasError('required')">Campo Requerido</p>
        </ion-item>

       <!-- Pais  -->
        <ion-label>Pais</ion-label>
        <ion-input placeholder="Escriba el pais" formControlName="pais" type="text" ></ion-input>
          
         <ion-item *ngIf="myForm.get('pais').errors && myForm.get('pais').dirty">
          <p *ngIf="myForm.get('pais').hasError('required')">Campo Requerido</p>
        </ion-item> 

       <!-- Email -->
        <ion-label>Email</ion-label>
        <ion-input placeholder="Escriba el email" type="text" formControlName="email" ></ion-input>
          
        <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p *ngIf="myForm.get('email').hasError('required')">Campo Requerido</p>
        </ion-item> 
           
      <!-- Telefono -->
        <ion-label>Telefono</ion-label>
        <ion-input placeholder="Escriba el telefono" type="number" formControlName="telefono"></ion-input>
          
        <ion-item *ngIf="myForm.get('telefono').errors && myForm.get('telefono').dirty">
          <p *ngIf="myForm.get('telefono').hasError('required')">Campo Requerido</p>
          <p *ngIf="myForm.get('telefono').hasError('minlength')">Minimo 9 Caracteres</p>
          <p *ngIf="myForm.get('telefono').hasError('maxlength')">Maximo 9 Caracteres</p>
        </ion-item>            
      </ion-list>
      <!--  -->
      <div padding>
        <button ion-button block type="submit" [disabled]="myForm.invalid" >Guardar</button>
      </div>
    </form> 
</ion-content>
