<ion-header>
  <ion-navbar>    
    <ion-title>Modificar Categorias</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="guardarDatos()" novalidate>
    <ion-list>
      <!-- Imagen -->
      <ion-img width="300" height="200" src="../../assets/imgs/categoria.png"></ion-img>

      <!-- Nombre -->
      <ion-label>Nombre</ion-label>
      <ion-input placeholder="Escriba el nombre" formControlName="nombre" type="text"></ion-input>
    
      <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
        <p *ngIf="myForm.get('nombre').hasError('required')">Campo Requerido</p>
      </ion-item>
  
      <!-- Descripcion  formControlName="descripcion"-->    
      <ion-label>Descripcion</ion-label>        
      <ion-textarea placeholder="Escriba el Descripcion" formControlName="descripcion" type="text" ></ion-textarea>     
    
      <ion-item *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
        <p *ngIf="myForm.get('descripcion').hasError('required')">Campo Requerido</p>
      </ion-item>  
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="myForm.invalid">Guardar</button>
    </div>
  </form>
</ion-content>
   